<h1>Calculadora de IMC</h1>

<ImcForm OnSubmit="HandleSubmit" />

@if (ResultadoIMC.HasValue)
{
    <ImcResult Imc="@ResultadoIMC.Value"
               Classificacao="@Classificacao"
               Recomendacao="@Recomendacao"
               Cor="@ImcService.ObterCor(Classificacao)" />

}
