@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-dark text-white p-3 d-flex flex-column justify-content-between" style="height: 100vh;">
    <nav class="nav flex-column">
        <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="about" class="nav-link" Match="NavLinkMatch.Prefix">About</NavLink>
    </nav>

    <div class="language-selector-container mt-3">
        <LanguageSelector />
    </div>
</div>
